@import './common/base';
@import './common/variables';
@import './common/mixins';
@import './sprites/sprite-form.less';
@import './vender/swiper';

.sprite-header {
  background: url("../img/sprites-header.png") no-repeat 0 0;
}

.header {
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.3s;

  &__inner {
    position: relative;
    min-width: 1120px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
  }

  &-logo {
    position: relative;
    float: left;
    width: 240px;
    height: 100%;
    .hreader-logo-white {
      position: absolute;
      width: 100px;
      height: 70px;
      top: 15px;
      left: 70px;
      background-position: -13px 0px;
      cursor: pointer;
    }
  }

  &-layer-button {
    position: absolute;
    padding: 0 27px;
    width: 68px;
    height: 100%;
    top: 0;
    left: 241px;
    background: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
    .icon-down-arrow {
      display: block;
      width: 15px;
      height: 9px;
      background-position: -85px -142px;
    }
  }

  &-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 90px;
    background: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    z-index: 50;
    .header-button-search {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      right: 30px;
      background-position: -13px -143px;
    }
  }

  &-gnb {
    height: 100%;

    &-list {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 0 525px 0 120px;
      top: 38px;
      z-index: 50;
    }

    &-item {
      flex: 1;
      text-align: center;

      &-menu1 {
        width: 42px;
        height: 15px;
        background-position: -148px -17px;
      }

      &-menu2 {
        width: 42px;
        height: 15px;
        background-position: -148px -51px;
      }

      &-menu3 {
        width: 77px;
        height: 15px;
        background-position: -135px -84px;
      }

      &-menu4 {
        width: 27px;
        height: 15px;
        background-position: -155px -120px;
      }

      &-menu5 {
        width: 73px;
        height: 15px;
        background-position: -135px -156px;
      }

      &-menu6 {
        width: 56px;
        height: 15px;
        background-position: -225px -18px;
      }
      
      &-menu7 {
        width: 75px;
        height: 15px;
        background-position: -216px -54px;
      }
    }

    &-unit {
      position: absolute;
      top: 0;
      right: 116px;
      height: 90px;
      .gnb-unit-menu {
        position: relative;
        width: 255px;
        height: 10px;
        top: 42px;
        background-position: 0 -331px;
      }
    }

    // header gnb expend
    &-block {
      position: absolute;
      margin-top: 90px;
      padding: 50px 90px 0 390px;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background: #fff;
      opacity:0;
      transition: all 0.5s ease;

      &-list {
        width: 803px;
        height: 154px;
        background-position: 0 -174px;
        opacity: 0;
        transition: opacity 0.8s;
      }
      &-banner {
        margin-left: 72px;
        width: 493px;
        height: 152px;
        background-position: -299px -5px;
        opacity: 0;
        transition: opacity 0.8s;
      }
      &.active {
        opacity: 1;
        height: 226px;
        .header-gnb-block-list {
          opacity: 1;
        }
        .header-gnb-block-banner {
          opacity: 1;
        }
      }
    }
  }
  
  &.move,
  &.active {
    .header__inner {
      background: #fff;
      border-bottom: 0 none;
      &-grid-line {
        position: absolute;
        top: 0;
        width: 1px;
        height: 90px;
        background-color: #eee;
        opacity: 1;
        transition: all 1s ease;
        &--1 {
          left: 241px;
        }
        &--2 {
          left: 308px;
        }
        &--3 {
          right: 89px;
        }
        &--4 {
          width: 100%;
          height: 1px;
          top: 88px;
          left: 0;
        }
      }
      .header-logo {
        .hreader-logo-white {
          background-position-y: -72px;
        }
      }
      .header-layer-button {
        border: 0 none;
        .icon-down-arrow {
          background-position-x: -104px;
        }
      }
      .header-search {
        border: 0 none;
        .header-button-search {
          background-position-x: -49px;
        }
      }
      .header-gnb-item-menu1 {
        background-position-y: 0;
      }
      .header-gnb-item-menu2 {
        background-position-y: -34px;
      }
      .header-gnb-item-menu3 {
        background-position-y: -67px;
      }
      .header-gnb-item-menu4 {
        background-position-y: -103px;
      }
      .header-gnb-item-menu5 {
        background-position-y: -138px;
      }
      .header-gnb-item-menu6 {
        background-position-y: -1px;
      }
      .header-gnb-item-menu7 {
        background-position-y: -36px;
      }
    }
  }
}
@media screen and (max-width: 1680px) {
  .header {
    &-gnb-list {
      padding-right: 400px;
    }

    &-gnb-block{
      padding-left: 300px;

      &-list {
        background-position: 0 -174px;
      }

      &-banner {
        margin-left: 100px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .header {
    &-gnb-list {
      padding-right: 380px;
      padding-left: 80px;
    }

    &-gnb-block{
      &-banner {
        visibility: hidden;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .header {
    &-gnb-list {
      padding: 0 406px 0 75px;
    }
    &-gnb-block{
      padding-left: 235px;
      &-list {
        background-position: 0 -174px;
      }
    }
  }
}

// layer dimd
.layer-dimd {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  transition: all .5s ease-in-out;
}

// header menu layer
.layer-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  &.active {
    opacity: 1;
    visibility: visible;
    .layer-dimd {
      opacity: 1;
      visibility: visible;
    }
    .layer-menu__inner {
      opacity: 1;
      visibility: visible;
    }
  }

  &__inner {
    display: flex;
    position: fixed;
    width: 550px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    z-index: 999;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
  }

  &-header {
    position: relative;
    width: 100%;
    height: 102px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    .layer-logo {
      position: absolute;
      top: 15px;
      left: 70px;
    }
    .header-logo-black {
      width: 100px;
      height: 70px;
      background-position: -13px -72px;
    }
    .layer-close {
      position: absolute;
      width: 90px;
      height: 90px;
      top: 0;
      right: 0;
      background: none;
      border-left: 1px solid #eee;
      .sprite-common-close {
        width: 20px;
        height: 20px;
        background-position: -12px -9px;
      }
    }
  }

  &-list {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  
  &-item {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    transition: all .5s;
    overflow: hidden;
    &:hover {
      background: #f5f5f5;
      .layer-menu-item-image {
        transform: scale(1.1,1.1);
      }
      .sprite-common-rigth-arrow {
        opacity: 1;
      }
    }

    &-image-block {
      width: 200px;
      height: 100%;
      overflow: hidden;
    }

    &-image {
      width: 200px;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      transform: scale(1,1);
      transition: all .5s;

    }

    &--1 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu1-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 56px;
        height: 40px;
        background: url("../img/menu-item-text1.png") no-repeat 0 0;
      }
    }

    &--2 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu2-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 82px;
        height: 43px;
        background: url("../img/menu-item-text2.png") no-repeat 0 0;
      }
    }

    &--3 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu3-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 51px;
        height: 39px;
        background: url("../img/menu-item-text3.png") no-repeat 0 0;
      }
    }

    &--4 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu4-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 94px;
        height: 40px;
        background: url("../img/menu-item-text4.png") no-repeat 0 0;
      }
    }

    &--5 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu5-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 67px;
        height: 42px;
        background: url("../img/menu-item-text5.png") no-repeat 0 0;
      }
    }

    &--6 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu6-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 99px;
        height: 39px;
        background: url("../img/menu-item-text6.png") no-repeat 0 0;
      }
    }

    &--7 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu7-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 109px;
        height: 40px;
        background: url("../img/menu-item-text7.png") no-repeat 0 0;
      }
    }

    &--8 {
      .layer-menu-item-image {
        background-image: url("../img/header-menu8-thumb.jpg");
      }
      .layer-menu-item-text {
        width: 91px;
        height: 40px;
        background: url("../img/menu-item-text8.png") no-repeat 0 0;
      }
    }
    &-text {
      position: absolute;
      top: 36px;
      left: 235px;
      width: 56px;
      height: 40px;
      background: url("../img/menu-item-text1.png") no-repeat 0 0;
    }
    .sprite-common-rigth-arrow {
      position: absolute;
      margin-top: -9px;
      width: 10px;
      height: 18px;
      top:50%;
      right: 40px;
      opacity: 0;
      background-position: -48px -10px;
      transition: all 1s;
    }
  }
}


// header search layer
.header-search-layer {
  position: fixed;
  padding: 120px 50px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: #fff;
  z-index: 999;
  overflow-y: auto;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.45, 0.05, 0.6, 1.13), visibility 0.3s linear;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &-close {
    position: fixed;
    top: 0;
    right: 16px;
    width: 90px;
    height: 90px;
    background: none;
    .sprite-common-close {
      width: 20px;
      height: 20px;
      background-position: -12px -9px;
    }
  }
}