@import './common/base';
@import './common/variables';
@import './common/mixins';
@import './sprites/sprite-form.less';
@import './vender/swiper';

html, body {
  position: relative;
  min-width: 1120px;
  -webkit-overflow-scrolling : touch;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
}

// swiper
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination {
  margin-bottom: 30px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  color: #000 !important;
}
.wrap {
  width: 100%;
  min-width: 1580px;
}

// sprite
.sprite {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 110%;
  line-height: 2;
  vertical-align: top;
}

.sprite-header {
  background: url("../img/sprites/sprites-header.png") no-repeat 0 0;
}
.sprite-common {
  background: url("../img/sprites/sprites-common.png") no-repeat 0 0;
}
// header
.header {
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: all 0.3s;
  .header__inner {
    position: relative;
    min-width: 1120px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    .header-logo {
      position: relative;
      float: left;
      width: 240px;
      height: 100%;
      .hreader-logo-white {
        position: absolute;
        width: 100px;
        height: 70px;
        top: 15px;
        left: 70px;
        background-position: -13px 0px;
        cursor: pointer;
      }
    }
    .header-layer-button {
      position: absolute;
      padding: 0 27px;
      width: 68px;
      height: 100%;
      top: 0;
      left: 241px;
      background: none;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      z-index: 100;
      .icon-down-arrow {
        display: block;
        width: 15px;
        height: 9px;
        background-position: -85px -142px;
      }
    }
    .header-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 90px;
      height: 90px;
      background: none;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      overflow: hidden;
      z-index: 50;
      .header-button-search {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 30px;
        right: 30px;
        background-position: -13px -143px;
      }
    }
  }
  .header-gnb {
    height: 100%;
  }
  .header-gnb-list {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 525px 0 120px;
    top: 38px;
    z-index: 50;
  }
  .header-gnb-item {
    flex: 1;
    text-align: center;
  }
  .gnb-menu1 {
    width: 42px;
    height: 15px;
    background-position: -148px -17px;
  }
  .gnb-menu2 {
    width: 42px;
    height: 15px;
    background-position: -148px -51px;
  }
  .gnb-menu3 {
    width: 77px;
    height: 15px;
    background-position: -135px -84px;
  }
  .gnb-menu4 {
    width: 27px;
    height: 15px;
    background-position: -155px -120px;
  }
  .gnb-menu5 {
    width: 73px;
    height: 15px;
    background-position: -135px -156px;
  }
  .gnb-menu6 {
    width: 56px;
    height: 15px;
    background-position: -225px -18px;
  }
  .gnb-menu7 {
    width: 75px;
    height: 15px;
    background-position: -216px -54px;
  }
  .header-gnb-unit {
    position: absolute;
    top: 0;
    right: 116px;
    height: 90px;
    .gnb-unit-menu {
      position: relative;
      width: 255px;
      height: 10px;
      top: 42px;
      background-position: 0 -331px;
    }
  }
  // header gnb expend
  .header-gnb-block{
    position: absolute;
    margin-top: 91px;
    padding: 50px 90px 0 390px;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #fff;
    opacity:0;
    transition: all 0.5s ease;
    .gnb-block-list {
      width: 803px;
      height: 154px;
      background-position: 0 -174px;
      opacity: 0;
      transition: opacity 0.8s;
    }
    .gnb-block-banner {
      margin-left: 72px;
      width: 493px;
      height: 152px;
      background-position: -299px -5px;
      opacity: 0;
      transition: opacity 0.8s;
    }
    &.active {
      opacity: 1;
      height: 226px;
      .gnb-block-list {
        opacity: 1;
      }
      .gnb-block-banner {
        opacity: 1;
      }
    }
  }
  &.move,
  &.active {
    .header__inner {
      background: #fff;
      border-color: #eee;
      .header-logo {
        .hreader-logo-white {
          background-position-y: -72px;
        }
      }
      .header-layer-button {
        border-color: #eee;
        .icon-down-arrow {
          background-position-x: -104px;
        }
      }
      .header-search {
        border-color: #eee;
        .header-button-search {
          background-position-x: -49px;
        }
      }
      .gnb-menu1 {
        background-position-y: 0;
      }
      .gnb-menu2 {
        background-position-y: -34px;
      }
      .gnb-menu3 {
        background-position-y: -67px;
      }
      .gnb-menu4 {
        background-position-y: -103px;
      }
      .gnb-menu5 {
        background-position-y: -138px;
      }
      .gnb-menu6 {
        background-position-y: -1px;
      }
      .gnb-menu7 {
        background-position-y: -36px;
      }
    }
  }

  
  // dimd
  .layer-dimd {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    transition: all .5s ease-in-out;
  }
  // header menu
  .header-menu-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
      .layer-dimd  {
        opacity: 1;
        visibility: visible;
      }
      .layer-menu-block {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .layer-menu-block {
    display: flex;
    position: fixed;
    width: 550px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    z-index: 999;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    .layer-menu-header {
      position: relative;
      width: 100%;
      height: 102px;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      .layer-logo {
        position: absolute;
        top: 15px;
        left: 70px;
      }
      .header-logo-black {
        width: 100px;
        height: 70px;
        background-position: -13px -72px;
      }
      .layer-close {
        position: absolute;
        width: 90px;
        height: 90px;
        top: 0;
        right: 0;
        background: none;
        border-left: 1px solid #eee;
        .sprite-common-close {
          width: 20px;
          height: 20px;
          background-position: -12px -9px;
        }
      }
    }
    .layer-menu-list {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    .layer-menu-item {
      display: flex;
      position: relative;
      height: 100%;
      flex-direction: column;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      transition: all .5s;
      overflow: hidden;
      &:hover {
        background: #f5f5f5;
        .layer-menu-item-image {
          transform: scale(1.1,1.1);
        }
        .sprite-common-rigth-arrow {
          opacity: 1;
        }
      }
      .layer-menu-item-image-block {
        width: 200px;
        height: 100%;
        overflow: hidden;
      }
      .layer-menu-item-image {
        width: 200px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        transform: scale(1,1);
        transition: all .5s;

      }
      &.layer-menu-item1 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu1-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 56px;
          height: 40px;
          background: url("../img/img/menu-item-text1.png") no-repeat 0 0;
        }
      }
      &.layer-menu-item2 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu2-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 82px;
          height: 43px;
          background: url("../img/img/menu-item-text2.png") no-repeat 0 0;
        }
      }
      &.layer-menu-item3 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu3-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 51px;
          height: 39px;
          background: url("../img/img/menu-item-text3.png") no-repeat 0 0;
        }
      }
      &.layer-menu-item4 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu4-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 94px;
          height: 40px;
          background: url("../img/img/menu-item-text4.png") no-repeat 0 0;
        }
      }
      &.layer-menu-item5 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu5-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 67px;
          height: 42px;
          background: url("../img/img/menu-item-text5.png") no-repeat 0 0;
        }
      }
      &.layer-menu-item6 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu6-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 99px;
          height: 39px;
          background: url("../img/img/menu-item-text6.png") no-repeat 0 0;
        }
      }
      &.layer-menu-item7 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu7-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 109px;
          height: 40px;
          background: url("../img/img/menu-item-text7.png") no-repeat 0 0;
        }
      }
      &.layer-menu-item8 {
        .layer-menu-item-image {
          background-image: url("../img/img/header-menu8-thumb.jpg");
        }
        .layer-menu-item-text {
          width: 91px;
          height: 40px;
          background: url("../img/img/menu-item-text8.png") no-repeat 0 0;
        }
      }
      .layer-menu-item-text {
        position: absolute;
        top: 36px;
        left: 235px;
        width: 56px;
        height: 40px;
        background: url("../img/img/menu-item-text1.png") no-repeat 0 0;
      }
      .sprite-common-rigth-arrow {
        position: absolute;
        margin-top: -9px;
        width: 10px;
        height: 18px;
        top:50%;
        right: 40px;
        opacity: 0;
        background-position: -48px -10px;
        transition: all 1s;
      }
    }
  }
  // header search 
  .header-search-layer {
    position: fixed;
    padding: 120px 50px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: #fff;
    z-index: 999;
    overflow-y: auto;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s cubic-bezier(0.45, 0.05, 0.6, 1.13), visibility 0.3s linear;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .search-layer-close {
      position: fixed;
      top: 0;
      right: 16px;
      width: 90px;
      height: 90px;
      background: none;
      .sprite-common-close {
        width: 20px;
        height: 20px;
        background-position: -12px -9px;
      }
    }
  }
}

// main
.main {
  min-width: 1080px;
  width: 100%;
  height: 100%;
  min-height: 3000px;
}
.main__visual {
  .swiper-main-visual {
    .slide-img {
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .slide-text {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    transition: opacity 1.4s linear;
    .main-visual-title {
      transition: transform 1s cubic-bezier(.17,.67,.6,.98), opacity 0.6s ease;
    }
    .main-visual-sub {
      opacity: 0;
      position: absolute;
      top: 40px;
      transition:  all 2s ease;
      transform: translate3d(-200px, 115px, 0px);
      &.show {
        opacity: 1;
        top: 0;
      }
    }
  }
  .main-oneclick {
    position: fixed;
    bottom: 38px;
    right: 40px;
    z-index: 10;
    .main-oneclick__button {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: 8px 7px 23px -11px rgba(0, 0, 0, 0.75);
      .sprite-common-oneclick {
        position: absolute;
        top: 20px;
        left: 21px;
        width: 33px;
        height: 38px;
        background-position: -65px -10px;
      }
    }
    .main-oneclick__layer {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      padding: 80px 0 60px;
      width: 800px;
      height: 370px;
      right: 0;
      bottom: -447px;
      background: #fff;
      transition: all .5s ease-in-out;
      border: 1px solid #eee;
      .main-oneclick-title {
        position: absolute;
        margin-left: -237px;
        top: 75px;
        left: 50%;
        z-index: 10;
      }
      .oneclick-layer-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 90px;
        height: 90px;
        background: none;
        .sprite-common-close {
          width: 20px;
          height: 20px;
          background-position: -12px -9px;
        }
      }
      &.active {
        visibility: visible;
        opacity: 1;
        bottom: 0;
      }
    } 
    .swiper-oneclick-layer {
      margin-top: 10px;
      .swiper-slide {
        position: relative;
        width: 330px;
      }
      .slide-img-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -134px;
        visibility: hidden;
        opacity: 0;
        transition: all .7s;
        &.show {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

// main content
.main__content {
  padding-top: 120px;
  .text-effect {
    animation: textEffect 2s;
  }
}
// event
.event {
  position: relative;
  max-width: 1600px;
  height: 1165px;
  margin: 0 auto;
  .swiper-container {
    .swiper-slide {
      position: relative;
      .self-clear();
    }
  }
  .swiper-event-main {
    float: left;
    .swiper-event-title {
      position: absolute;
      top: 116px;
      left: 500px;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      transition: left 1s ease, opacity 2.5s ease, visibility 2s ease;
      &.swiper-event-title3 {
        left: 1000px;
      }
    }
    .swiper-event-description {
      position: absolute;
      top: 214px;
      left: 900px;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      transition: left 1s ease, opacity 2.5s ease, visibility 2s ease;
      &.swiper-event-description3 {
        left: 600px;
      }
    }
    .swiper-event-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transform: scale(1.2);
      transition: all 1.5s;
      &.image-effect {
        animation: imageEffectLeft 2s;
      }
    }
    &.active {
      .swiper-event-title {
        opacity: 1;
        visibility: visible;
        left: 657px;
        &.swiper-event-title3 {
          left: 850px;
        }
      }
      .swiper-event-description {
        opacity: 1;
        visibility: visible;
        left: 731px;
        &.swiper-event-description3 {
          left: 731px;
        }
      }
      .swiper-event-image {
        transform: scale(1);
      }
    }
  }
  .swiper-event-sub {
    float: right;
    .swiper-event-title {
      position: absolute;
      bottom: 0;
      right: 314px;
      opacity: 0;
      visibility: hidden;
      transition: bottom 1s ease, opacity 0.7s linear, visibility 0.7s linear;
      &.swiper-event-title2 {
        right: 257px;
      }
      &.swiper-event-title3 {
        right: 323px;
      }
    }
    .swiper-event-description {
      position: absolute;
      bottom: -50px;
      right: 228px;
      opacity: 0;
      visibility: hidden;
      transition: bottom 1.4s ease, opacity 0.7s linear, visibility 0.7s linear;
      &.swiper-event-description2 {
        right: 179px;
      }
      &.swiper-event-description3 {
        right: 238px;
      }
    }
    .swiper-event-image {
      position: absolute;
      bottom: 107px;
      right: 80px;
      transform: scale(1.1);
      transition: all 1.5s;
      &.image-effect {
        animation: imageEffectRight 2s;
      }
    }
    &.active {
      .swiper-event-title {
        bottom: 56px;
        opacity: 1;
        visibility: visible;
      }
      .swiper-event-description {
        bottom: 0px;
        opacity: 1;
        visibility: visible;
      }
      .swiper-event-image {
        transform: scale(1);
      }
    }
  }
  .swiper-pagination {
    display: flex;
    flex-direction: column;
    left: 875px;
    bottom: 320px;
    .swiper-pagination-bullet {
      font-family: 'Myriad Pro';
      font-weight: bold;
      font-size: 20px;
      margin-top: 30px;
      width: 22px;
      height: 15px;
      background: none;
    }
    .swiper-pagination-bullet-active {
      font-size: 60px;
      position: absolute;
      top: -200px;
      left: -20px;
      width: 54px;
      height: 41px;;
    }
  }
}

// footer
.footer {
  color: #fff;
}


@media screen and (max-width: 1680px) {
  .header {
    .header-gnb-list {
      padding-right: 400px;
    }
    .header-gnb-block{
      padding-left: 300px;
      .gnb-block-list {
        background-position: 0 -174px;
      }
      .gnb-block-banner {
        margin-left: 100px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .header-gnb-list {
    padding-left: 300px;
  }
  .gnb-block-banner {
    visibility: hidden;
  }
}
@media screen and (max-width: 1280px) {
  .header {
    .header-gnb-list {
      padding: 0 406px 0 75px;
    }
    .header-gnb-block{
      padding-left: 235px;
      .gnb-block-list {
        background-position: 0 -174px;
      }
    }
  }
}

@keyframes textEffect {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes imageEffectLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes imageEffectRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}