@import './common/base';
@import './common/variables';
@import './common/mixins';
@import './sprites/sprite-form.less';
@import './vender/swiper';

html, body {
  position: relative;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0;
}

// swiper
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
}

// dimd
.dimd {
  display: none;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  &.is-open {
    display: block;
  }
}
// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header_block {
  position: relative;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    > a {
      display: block;
      padding: 13px 70px 7px;
      cursor: pointer;
    }
  }
  .header__layer-button {
    position: absolute;
    padding: 0 27px;
    width: 68px;
    height: 100%;
    top: 0;
    left: 241px;
    background: none;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    .icon-down-arrow {
      display: block;
      width: 15px;
      height: 9px;
      background: url(../img/icon/arrow_down_15x9.png) no-repeat 0 0;
    }
  }
}
.header__gnb {
  position: absolute;
  top: 35px;
  left: 308px;
}
.header__gnb-list {
  display: flex;
  padding: 0 150px;
  width: 987px;
}
.header__gnb-item {
  flex: 1;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

// side navigation
.side-navigation {
  position: fixed;
  width: 550px;
  height: 100%;
  top: 0;
  left: -550px;
  background: #fff;
  z-index: 999;
  transition: .5s;
  &.is-active {
    left: 0;
  }
  .side-navigation__header {
    position: relative;
    height: 90px;
    border-bottom: 1px solid #eee;
  }
  .button-navigation-close {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    right: 0;
    background: none;
    border-left: 1px solid #eee;
    &:before {
      content: '';
      width: 28px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 4px;
      background: #000;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:after {
      content: '';
      width: 28px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 4px;
      background: #000;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
}

// main
.main {
  min-width: 1080px;
  width: 100%;
  height: 100%;
  .main-visual {
    .slide-img {
      height: 960px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// footer
.footer {
  color: #fff;
}